$primary: #08436F;
$light-gray: #818181;
$placeholder-color: #b8b4b4;
$box-shadow: rgba(0, 0, 0, 0.4);
$box-shadow-light: rgba(0, 0, 0, 0.2);
$background-light-gray: #D9D9D9;
$invalid-color: red;
$success-green: #22a644;
$yellow-warning: #ffb200;
$color-disabled: #d1d1d180;
